BODY {
  color: #000000;
  background-color: #666666;
}

A:link { color: #0000EE; }
A:active { color: #EE0000; }
A:hover { color: #EE0000; }
A:visited { color: #551A8B; }

TD.logo {
  vertical-align: middle;
  text-align: left;
}

TD.searchlabel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  color: #ffffff;
  vertical-align: middle;
  text-align: right;
}

TD.searchinput {
  vertical-align: middle;
  text-align: left;
}

TD.tag_list {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: #ffffff;
  vertical-align: text-top;
  text-align: right;
}

TD.formlabel {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
  color: #ffffff;
  vertical-align: text-top;
  text-align: right;
}

TD.forminput {
  vertical-align: text-top;
  text-align: left;
}

TD.notice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}

TD.error {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14pt;
  color: #ff0000;
  vertical-align: middle;
  text-align: center;
}

TD.left_top {
  text-align: left;
  vertical-align: top;
}

TD.left_middle {
  text-align: left;
  vertical-align: middle;
}

TD.left_bottom {
  text-align: left;
  vertical-align: bottom;
}

TD.center_top {
  text-align: center;
  vertical-align: top;
}

TD.center_middle {
  text-align: center;
  vertical-align: middle;
}

TD.center_bottom {
  text-align: center;
  vertical-align: bottom;
}

TD.right_top {
  text-align: right;
  vertical-align: top;
}

TD.right_middle {
  text-align: right;
  vertical-align: middle;
}

TD.right_bottom {
  text-align: right;
  vertical-align: bottom;
}

DIV.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 9pt;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
}

DIV {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #ffffff;
}

P {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14pt;
  color: #ffffff;
}
