.PikStyle1 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12pt;
   color: #ffffff;


 }
div {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 12pt;
   color: #ffffff;


 }
p {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 14pt;
   color: #ffffff;
}
